@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Inter", sans-serif;
}

.black {
  color: black;
}

.header_nav {
  display: flex;
  min-height: 10vh;
  padding: 10px 20px;
  align-items: center;
  justify-content: end;
}

.header_menu {
  padding: 3px 5px;
}

.menu_icon {
  width: 24px;
  height: auto;
}

.headline {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/bg_mobile.png);
  background-position: center;
}

.headline_container {
  width: 84%;
}

.sub-headline {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #36b37e;
  text-align: center;
}

.headline_title {
  font-family: "Inter", sans-serif;
  margin-top: 60px;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
}

.headline_content {
  font-family: "Inter", sans-serif;
  color: #172b4d;
  font-weight: 400;
  background: #fff;
  text-align: center;
  font-size: 20px;
}

.addline_social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
}

.social_links {
  display: flex;
  list-style: none;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding: 15px;
}

.social_link a {
  display: inline-block;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
  flex-wrap: wrap;
  gap: 10px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #42526e;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-top: 3%;
  margin-bottom: 5%;
}

.move_down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.img_down {
  width: 12%;
  border: 0.1px solid #acb7c3;
  border-radius: 50%;
  padding: 2%;
}

.img_down:hover {
  width: 13%;
  border: 0.1px solid black;
  border-radius: 50%;
  padding: 2%;
}

h2 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  margin-top: 2%;
}

.h3_my_work {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  margin-top: 15%;
}

.work_card_container {
  margin-block: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.img_holder {
  display: inline;
  height: 53%;
  background-color: #d0d9d4;
}

.project_card {
  height: 55vh;
  background-color: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0% 4%;
}

.large_title {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 5%;
  color: #3a4a42;
}

.tools_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 8px;
}

.skills_design {
  font-family: "Inter", sans-serif;
  border: none;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  padding: 10px 12px;
  color: #36b37e;
  background-color: #fff;
}

.tools_design {
  height: 30px;
  border: none;
  border-radius: 4px;
  color: #3a4a42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02cm;
  margin: auto;
  padding: 10px 12px;
}

.btngreen {
  font-family: "Inter", sans-serif;
  align-self: center;
  font-weight: 500;
  font-size: 17px;
  background-color: #36b37e;
  color: #fff;
  margin-top: 5%;
  border: none;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 5%;
  letter-spacing: 0.03em;
}

.btngreen:hover {
  border-radius: 4px;
  background-color: #0b5838;
}

hr {
  width: 12%;
  height: 4px;
  margin-left: 45%;
  margin-bottom: 62px;
  margin-top: 3%;
  background-color: #36b37e;
  border-radius: 3px;
  border: none;
}

.container {
  display: grid;
  flex-direction: column;
  border-radius: 10px;
  place-items: center;
}

.flex_col_center {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.flex_aboutme {
  width: 80%;
  position: relative;
  margin-bottom: 30px;
}

.aboutme {
  position: relative;
  margin-bottom: 30px;
  width: 85%;
}

.aboutme::before {
  position: absolute;
  content: "";
  background: url(assets/bg_about.svg);
  width: 68px;
  height: 110px;
  top: -13%;
  right: -10%;
}

.aboutme::after {
  position: absolute;
  content: "";
  background: url(assets/bg_about_down.svg);
  width: 71px;
  height: 58px;
  bottom: 0;
  left: -10%;
}

.aboutme_box_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 85%;
  margin-block: 20px;
  padding: 0;
}

.box {
  aspect-ratio: 9/10;
  width: 100%;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  box-sizing: border-box;
  padding-inline: 8px;
  list-style: none;
}

.icon_container {
  height: 30%;
}

.contact_container {
  display: flex;
  justify-content: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.form_container::after {
  content: "";
  position: absolute;
  background-image: url(assets/bg_contact.svg);
  bottom: -20%;
  right: -10%;
  width: 63px;
  height: 146px;
}

.form_container input,
.form_container textarea {
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
}

.form_container input {
  padding: 15px 16px;
}

.form_container input::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form_container textarea {
  padding: 12px;
  height: 114px;
}

.form_container textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form_container input:hover,
.form_container input:focus,
.form_container textarea:hover,
.form_container textarea:focus {
  border: 1px solid #60c095;
  outline: 1px solid #60c095;
}

.section_width {
  width: 80%;
}

.p7 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  display: flex;
  margin-top: 10px;

  /* justify-content: center; */
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 65%;
  margin-block: 30px;
}

.email_text {
  font-family: "Linter", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
}

.divider-footer {
  margin: 0 0 10px 0;
  border-top: 6px solid #172b4d;
  border-radius: 5px;
  width: 50%;
}
